// $primary-color: #00c7c7;
// $primary-color-dark1: #16999b;
// $secondary-color: #2c393f;

$primary-color: salmon;
$primary-color-dark1: firebrick;
$secondary-color: maroon;
$ultra-light-red: #FFEAEA;

$outline-color: #ededed;

$placeholder-color: dimgrey;

$categories-colors: #00c7c7, #f2d06c, #0253b3, #ca89fc;
