@import './styles/mixins.scss';

.comingUp {
  width: 80%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@include categories-colors;
